header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 30px 10%;
     
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    
}
.header div{
   display: flex;
   flex-direction: row;
 }

.img{
    margin-right: 37rem;
    width: 50px;
   
}

.nav-links{
    justify-content: space-between;
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    color: #e5e7eb;
}


.hero-main-text{
    color: #f9faf8;
    font-size: 48px;
}
.hero-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}
.placeholderbox{
    display: flex;
    background-color: #8d949e;
    width: 30rem;
    height: 14rem;
    align-items:center;
    justify-content: center; 
    color: #e5e7eb;
}
.hero-main-box {
    align-items: center;
    width: 30rem;
    height: 14rem;
}
.button-up{
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 9px 25px;
    border:none;
    border-radius: 5px;
}
.divsection1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.section1{
    background-color: #1F2937;
    height: 30rem;  
  
}

.titlesection2{
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    height: 1rem;
}
.section2-boxs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10rem;
    margin-top: 4px;
}
.box{
    line-height: normal;
    width: 6rem;
    height: 4rem;
    padding: 2rem 1rem;
    background-color: white;
    border: 3px solid #3882f6;
    border-radius: 7px;
    margin: 1.5rem;
}
.section3-paragraphs{   
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 7px;
    margin-top: 4px;
}
.p{
    display: flex;
    text-align: center;
    justify-items: center;
    color: #27251b;
    display: inline-block;
    margin-top: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}
.section4{
    background-color: #e5e7eb;
    height: 24rem;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    font-family: Roboto-italic;
     justify-content: center;
    align-items: center;
    text-align: center;
    color: #1F2937;
    font-size: 36px;
}
.thor{
    padding-right: 90px;
    display: block;
    text-align: right;
}


.call-to-action{
    width: 40rem;
    height: 4rem;
    margin-top: 10px;   
    margin-bottom: 25px;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    line-height: 1.5;
    display: flex;
    
}
.button-b{
    display: flex;
    height: 2rem;
    width: 8rem;
    color: #f9faf8;
    background-color:#3882f6;
    border: 3px solid #e5e7eb;
    border-color: #e5e7eb;
    border-radius: 12px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
} 
.section5{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;      
}
.copyright {
    color: #e5e7eb;
}
.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
     height: 6rem;
    text-align: center;
}
.section7{
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    height: 1rem;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.ttf);
}

body{
    font-family: Roboto;
    justify-content: center;
    align-items: center;
  
}

*{
    margin: 0%;
    padding: 0%;
}












